</div>
</div>
</main><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; softHub</p>


<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
<script src="/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="/js/home.js"></script>
<script>

    $('a#clearCart').on('click', () => {

        if (!confirm("Confirm clear Cart?"))
            return false
    })



    $(function () {
        $('#search').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var parameters = { search: $(this).val() };
                $.get('/searching', parameters, function (data) {
                    $('#results').html(data);
                });
            };
        });
    });
</script>

</html>